<!DOCTYPE html>
<html lang="es">
    <head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donde contactarme</title>
   <link rel="stylesheet" href="../assets/styles/main.css" />
    <link rel="shortcut icon" href="../assets/icon/icon.png" type="image/x-icon" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
  </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <header>
        <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="sobremi.html"> Sobre mí</a></li>
            <li><a href="experiencia.html"> Experiencia Laboral</a></li>
            <li><a href="formacion.html">Formación</a></li>
            <li><a href="certificaciones.html">Certificaciones</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        </nav>
          <h1 class="title">No dudes en contactarme</h1>
        <hr>
    </header>
    <main>
        <section>
            <h3>Tienes diferentes maneras de contactar conmigo:</h3>
            <article>
                <a href="https://www.linkedin.com/in/anavillalbagil/" target="_blank">
                <img src="../assets/img/iconolinkedink.png" alt="Logo de linkedink" width="30"> Mi Linkedin</a>
            </article>
             <article>
                <a href="mailto:villalba.gil@gmail.com" target="_blank">
                <img src="../assets/img/carta.webp" alt="logo de una carta" width="30"> Mandame un correo electronico</a>
            </article>
            <article>
                <a href="tel:+34680619251">
                    <img src="../assets/img/iconotelefono.webp" alt="logo telefono" width="30">Llamame por telefono</a>
            </article>
        </section>
        <section>
            <h3>Si tienes algun problema puedes mandarme un formulario</h3>
            <form action="/" method="post">
                <fieldset>
                    <legend>Información personal</legend>
                    
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" placeholder="Escribe tu nombre" required>
                    
    
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Escribe tu email" required>
                
                    <input type="submit" value="Enviar" required>
                </fieldset>
            </form>
        </section>
    </main>
    <footer>
    <p>Creado por <strong>Ana Villalba Gil</strong> el 09/05/2025</p>
    <p>Este portfolio es un proyecto personal y no está asociado a ninguna empresa.</p>
    <p>Derechos reservados <strong>&copy;</strong></p>
  </footer>
    </body>
</html>