<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donde contactarme</title>
    <!-- El título de la página que se muestra en la pestaña del navegador. -->
    
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <!-- Enlace al archivo de estilos principal de la página. -->

    <link rel="stylesheet" href="../assets/styles/contacto.css" />
    <!-- Enlace al archivo de estilos específico para la página de contacto. -->

    <link rel="shortcut icon" href="../assets/icon/icon.png" type="image/x-icon" />
    <!-- Enlace al ícono que aparecerá en la pestaña del navegador. -->
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />   
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />
    <!-- Carga una fuente de Google Fonts llamada "Inter". -->
    
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet" />
    <!-- Carga otra fuente de Google Fonts llamada "Share Tech". -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <!-- Enlace al archivo de Font Awesome, que proporciona iconos para usar en la página. -->
  </head>

  <body>
    
    <header>
      <!-- Sección de encabezado que generalmente contiene el menú de navegación y el título principal. -->
      
      <nav>
        <!-- Elemento de navegación que contiene los enlaces principales de la página. -->
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="sobremi.html">Sobre mí</a></li>
          <li><a href="experiencia.html">Experiencia Laboral</a></li>
          <li><a href="formacion.html">Formación</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>

      <h1 class="title">No dudes en contactarme</h1>
      <!-- Título principal de la página, que aparece en la parte superior. -->
      
      <hr />
      <!-- Línea horizontal para separar el título del contenido. -->
    </header>

    <main class="main-contactos">
      <!-- Sección principal del contenido de la página de contacto. -->
      
      <section>
        <!-- Una sección dentro del contenido principal. -->
        <h3>Tienes diferentes maneras de contactar conmigo</h3>

        <article>
          <!-- Cada artículo representa una forma de contacto. -->
          <a href="https://www.linkedin.com/in/anavillalbagil/" target="_blank" title="LinkedIn">
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #2a8979;"></i> Mi página de LinkedIn
          </a>
          <!-- Enlace a tu perfil de LinkedIn con el icono de LinkedIn de Font Awesome. El 'target="_blank"' hace que el enlace se abra en una nueva pestaña. -->
        </article>
        <br />
        
        <article>
          <a href="mailto:villalba.gil@gmail.com" title="villalba.gil@gmail.com">
            <i class="fa-solid fa-envelope-open fa-xl" style="color: #2a8979;"></i> Mándame un correo electrónico
          </a>
          <!-- Enlace para enviar un correo electrónico a la dirección especificada con el icono del sobre de Font Awesome. -->
        </article>
        <br />
        
        <article>
          <a href="tel:+34680619251" title="+34680619251">
            <i class="fa-solid fa-phone-volume fa-xl" style="color: #2a8979;"></i> Mi número de teléfono
          </a>
          <!-- Enlace para llamar al número de teléfono especificado con el icono de teléfono de Font Awesome. -->
        </article>
        
        <article>
          <h3>Presencialmente puedes encontrarme en:</h3>
          <address>Zaragoza, España</address>
          <!-- Información sobre dónde se te puede encontrar en persona. -->
        </article>
      </section>

      <section>
        <!-- Otra sección dentro del contenido principal, esta con un formulario para contacto. -->
        <h3><u>Si tienes alguna consulta puedes mandarme un formulario</u></h3>
        <form action="/" method="post">
          <!-- Formulario   -->
          
          <fieldset>
            <!-- Elemento de campo que agrupa los elementos del formulario. -->
            <legend>Información personal</legend>
            <!-- Leyenda del formulario, que describe su propósito. -->
            
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" placeholder="Escribe tu nombre" required />
            <!-- Campo de texto para ingresar el nombre. El atributo 'required' hace que sea obligatorio. -->
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Escribe tu email" required />
            <!-- Campo de correo electrónico. El atributo 'required' hace que sea obligatorio. -->
            
            <label for="comentario">Mensaje:</label>
            <textarea id="comentario" name="comentario" placeholder="Escribe aquí tu comentario" required></textarea>
            <!-- Campo de texto largo (textarea) para que el usuario deje su mensaje. -->
            
            <input type="submit" value="Enviar" />
            <!-- Botón para enviar el formulario. -->
          </fieldset>
        </form>
      </section>
    </main>

    <footer>
      <!-- Pie de página -->
      <p>
        Creado por <strong>Ana Villalba Gil</strong> el
        <time datetime="2025-05-09">09/05/2025</time>.<br />
        Este portfolio es un proyecto personal y no está asociado a ninguna empresa.<br />
        Derechos reservados <strong>©</strong>
      </p>
    </footer>
  </body>
</html