<!DOCTYPE html>
<html lang="es">
    <head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donde contactarme</title>
   <link rel="stylesheet" href="../assets/styles/main.css" />
   <link rel="stylesheet" href="../assets/styles/contacto.css" />
    <link rel="shortcut icon" href="../assets/icon/icon.png" type="image/x-icon" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
  </head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <header>
        <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="sobremi.html"> Sobre mí</a></li>
            <li><a href="experiencia.html"> Experiencia Laboral</a></li>
            <li><a href="formacion.html">Formación</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        </nav>
            <h1 class="title">No dudes en contactarme</h1>
        <hr>
    </header>
    <main class="main-contactos">
        <section>
            <h3>Tienes diferentes maneras de contactar conmigo</h3>
            <article>
                <a href="https://www.linkedin.com/in/anavillalbagil/" target="_blank" title="Linkedin">
                <i class="fa-brands fa-linkedin fa-2xl" style="color: #2a8979;"></i> Mi pagina de Linkedin</a>
            </article>
            <br>
                <article>
                <a href="mailto:villalba.gil@gmail.com" target="_blank" title="villalba.gil@gmail.com">
                <i class="fa-solid fa-envelope-open fa-xl" style="color: #2a8979;"></i> Mandame un correo electronico</a>
            </article>
            <br>
            <article>
                <a href="tel:+34680619251" target="_blank" title="+34680619251">
                <i class="fa-solid fa-phone-volume fa-xl" style="color: #2a8979;"></i> Mi número de Telefono</a>
            </article>
            <article>
                <h3>Presencialmente puedes encontrame:</h3>
                <address>Zaragoza, España</address>
            </article>
        </section>
        <section>
            <h3><u>Si tienes alguna consulta puedes mandarme un formulario</u></h3>
            <form action="/" method="post">
                <fieldset>
                    <legend>Información personal</legend>
                    <label for="name">Nombre:</label>
                    <input type="text" id="name" name="name" placeholder="Escribe tu nombre" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Escribe tu email" required>
                    <label for="comentario">Mensaje:</label>
                    <input type="text" placeholder="Escribe aqui tu comentario" required>
                    <input type="submit" value="Enviar" required>
                </fieldset>
            </form>
        </section>
    </main>
    <footer>
        <p>Creado por <strong>Ana Villalba Gil</strong> el <time datetime="2025-05-09">09/05/2025</time>.<br>Este portfolio es un proyecto personal y no está asociado a ninguna empresa.<br>Derechos reservados <strong>©</strong></p>
    </footer>
    </body>
</html>