<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia Laboral</title>
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <link rel="shortcut icon" href="../assets/icon/icon.png" type="image/x-icon" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
        <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="sobremi.html"> Sobre mí</a></li>
            <li><a href="experiencia.html"> Experiencia Laboral</a></li>
            <li><a href="formacion.html">Formación</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        </nav>
            <h1 class="title">Aqui tienes un poco en lo que he podido trabajar</h1>
        <hr>
    </header>
        <main class="main-expe">
            
    <section>
            <h2>Experiencias Laboral</h2>
            <nav>
                <ul>
                    <li><a href="#zarafilms">Zarafilms S.A</a></li>
                    <li><a href="#aragon">Aragón Televisión</a></li>
                </ul>
            </nav>
            <article>
            <h3 id="Zarafilms">Zarafilms, S.A | Octubre 2017 - Mayo 2024</h3>
            <p><i><u>Supervisora de operaciones | Coordinación operativa, atención al cliente y gestión técnica</u></i></p>
            <p>Febrero 2019-Mayo 2024</p>
            <p>Tras mi etapa como proyeccionista digital, fui ascendida a supervisora del centro, asumiendo la coordinación general del cine para garantizar su funcionamiento eficiente,<br>tanto a nivel humano como tecnológico.</p>
            <p>Entre mis principales funciones destacan:</p>
    <ul>
        <li>Supervisión del personal de taquilla, bar y sala, asegurando un servicio al cliente rápido, profesional y amable.</li>
        <li>Coordinación de turnos, resolución de incidencias internas y organización del equipo durante eventos especiales o alta afluencia.</li>
        <li>Atención directa al cliente ante reclamaciones, dudas o problemas, actuando como enlace entre el público y la gerencia.</li>
        <li>Control del correcto funcionamiento del centro: sistemas informáticos de taquilla y venta, servidores de proyección, ordenadores de uso interno y red local.</li>
        <li>Apoyo técnico en la operación de proyectores digitales y gestión de contenidos en caso de incidencias.
        <li>Manejo de caja, arqueos, informes de turno y cierre del cine</li>
        <li>Operación y mantenimiento de proyección digital: carga de contenidos, programación de sesiones, sincronización de sistemas y resolución de errores en tiempo real.</li>
        <li>Comunicación diaria con la gerencia para reportes operativos y propuestas de mejora.</li>
    </ul>
    <p>Gracias a este rol, consolidé mis habilidades en liderazgo, atención al detalle, resolución de problemas
        y coordinación de equipos en entornos dinámicos.</p>
    <p><i><u>Proyeccionista Digital | Gestión técnica de contenidos cinematográficos digitales</u></i></p>
    <p>Octubre 2017-Febrero 2019</p>
    <p>Como proyeccionista digital, he sido responsable de garantizar la correcta exhibición de películas en 
        salas de cine, utilizando sistemas DCP y equipos de proyección de última generación.</p>
    <p>Mis funciones principales incluyen:</p>
    <ul>
        <li>Recepción, carga y programación de contenidos (películas, tráilers, anuncios) en servidores digitales (TMS/LMS y servidor principal).</li>
        <li>Configuración de playlists automatizadas para cada sesión, sincronización con sonido, iluminación y sistema de cortinas.</li>
        <li>Mantenimiento preventivo y correctivo de proyector digital, servidor, sistema de sonido, red local y UPS.</li>
        <li>Cambio de lámparas y limpieza técnica de lentes, filtros y componentes internos.</li>
        <li>Gestión de la red interna del cine para asegurar la correcta transferencia y reproducción de los contenidos</li>
        <li>Coordinación directa con el encargado de turno y el personal de sala para asegurar el buen funcionamiento de cada proyección</li>
        <li>Resolución de incidencias técnicas en tiempo real durante las sesiones.</li>
        <li>Control de calidad de imagen y sonido para ofrecer la mejor experiencia al espectador.</li>
    </ul>
</article>
<article>
<h3 id="aragon">TSA Telefónica servicios audiovisuales | Marzo 2016 - Junio 2017</h3>
 <p><i><u>Operador de camara en Aragón Tv</u></i></p>
<ul>
    <li>Preparación y ajuste del equipo de cámara,asegurando su correcto funcionamiento</li>
    <li>Composición y encuadre de tomas, operando la cámara para capturar imágenes de calidad.</li>
    <li>Colaboración con el equipo de producción para lograr la visión creativa del proyecto.</li>
</ul>
</article>
</section>
 </main>
    <footer>
  <p>Creado por <strong>Ana Villalba Gil</strong> el <time datetime="2025-05-09">09/05/2025</time>.<br>Este portfolio es un proyecto personal y no está asociado a ninguna empresa.<br>Derechos reservados <strong>©</strong></p>
  </footer>
    </body>
</html>