<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Formación</title>
   <link rel="shortcut icon" href="../assets/icon/icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <h1>Puedes ver que estudie el ambito tecnologíco</h1>
      <hr />
      <nav>
        <ol>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="sobremi.html"> Sobre mí</a></li>
          <li><a href="experiencia.html"> Experiencia Laboral</a></li>
          <li><a href="certificaciones.html">Certificaciones</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ol>
      </nav>
    </header>
    <main>
      <h2>Formación</h2>
      <h4><u>GRADO MEDIO TÉCNICO SISTEMAS MICROINFORMÁTICOS Y REDES</u></h4>
      <p>
        <strong>Centro:</strong> IES Santiago Hernandez<br />
        <strong>Fecha de finalización:</strong> 2012<br />
        <strong>Descripción:</strong> Formación en sistemas informáticos y redes, incluyendo instalación y configuración de hardware y software.
      </p>
      <h4><u>GRADO SUPERIOR DESARROLLO DE APLICACIONES MULTIPLATAFORMA</u></h4>
      <p>
        <strong>Centro:</strong> IES Santiago Hernandez<br />
        <strong>Fecha de finalización:</strong> Sin finalizar<br />
        <strong>Descripción:</strong> Formación en desarrollo de aplicaciones multiplataforma, incluyendo programación en Java, C#, y desarrollo web.
      </p>
      <h4><u>GRADO DE SUPERIOR EN ILUMINACIÓN, CAPTACIÓN Y TRATAMIENTO DE LA IMAGEN</u></h4>   
      <p>
        <strong>Centro:</strong> IES Los enlace<br />
        <strong>Fecha de finalización:</strong> 2016<br />
        <strong>Descripción:</strong> Formación en técnicas de iluminación, captura y tratamiento de la imagen, incluyendo fotografía y postproducción.
    </main>
    <footer>
      <p>Creado por <strong>Ana Villalba Gil</strong> el 09/05/2025</p>
      <p>
        Este portfolio es un proyecto personal y no está asociado a ninguna
        empresa.
      </p>
      <p>Derechos reservados <strong>&copy;</strong></p>
    </footer>
  </body>
</html>
