<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre mi</title>
  <link rel="shortcut icon" href="../assets/icon/icon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <h1>Has selecionado la casilla de información sobre mi</h1>
      <hr />
      <nav>
        <ol>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="experiencia.html"> Experiencia Laboral</a></li>
          <li><a href="formacion.html">Formación</a></li>
          <li><a href="certificaciones.html">Certificaciones</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ol>
      </nav>
    </header>
    <main>
        <section>
      <h3>Acerca de mi</h3>
      <article>
      <p>
       Soy una profesional apasionada por la tecnología y la innovación, con experiencia en el mundo del cine e imagen.<br>A lo largo de mi carrera, he trabajado en diversas áreas que me han permitido desarrollar un enfoque multidisciplinar, donde la creatividad y la técnica se complementan de manera eficaz. <br> Actualmente, me encuentro formándome en desarrollo de aplicaciones web, con un fuerte enfoque en la creación de soluciones tecnológicas accesibles y funcionales.</p>
      <p>
       Mi formación incluye un grado medio en informática y conocimientos avanzados en áreas clave como ciberseguridad y transformación digital. <br> Estoy especializándome en el desarrollo web, tanto en front-end como en back-end, lo que me permite tener una visión completa del ciclo de vida de una aplicación,<br> desde la interfaz de usuario hasta la gestión de bases de datos y la integración con el servidor.
        </p>
      <p>
       A lo largo de mi experiencia profesional, he desarrollado habilidades de trabajo en equipo, liderazgo y gestión de proyectos. <br>Me considero una persona proactiva, con una mentalidad orientada a la resolución de problemas y siempre dispuesta a aprender y adaptarme a nuevas tecnologías. <br> Mi enfoque en cada proyecto es el de aportar soluciones innovadoras que generen un impacto positivo y real.
      </p>
      <p>
        Mi objetivo es seguir creciendo profesionalmente, combinando mis conocimientos en desarrollo web, ciberseguridad y transformación digital,<br>para aportar valor tanto a proyectos individuales como a equipos de trabajo colaborativos. <br> Estoy abierta a nuevas oportunidades que me permitan seguir aprendiendo y expandir mis horizontes en el mundo de la tecnología.
      </p>
      </article>
      <article>
        <h3>Idiomas</h3>
        <ul>
          <li>Español: Nativo</li>
          <li>Inglés: B1</li>
          <li>Italiano:b1</li>
      </article>
      <article>
        <h3>Más Información</h3>
        <ul> 
           <li>Carné de conducir B1</li>
           <li>vehiculo Propio</li>
           <li>Disponibilidad para viajar</li>
           <li>Disponibilidad Total</li>
        </ul>
      </article>
      </section>
    </main>
  </body>
  <footer>
    <p>Creado por <strong>Ana Villalba Gil</strong> el 09/05/2025</p>
    <p>Este portfolio es un proyecto personal y no está asociado a ninguna empresa.</p>
    <p>Derechos reservados <strong>&copy;</strong></p>
  </footer>
</html>
