:root {
	--primary-color: #f3f3f3;
	--secondary-color: #77c0a0;
	--background-color: #2b2f30;
}
body {
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}
header {
	width: 100%;
	nav {
		padding: 1rem 0;
		font-family: 'Arial', sans-serif;
		font-size: 18px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: right;
			flex-wrap: wrap;
			align-items: flex-end;
			gap: 0.5rem;
		}

		a {
			color: var(--primary-color);
			text-decoration: none;
			border: var(--secondary-color) 1px solid;
			padding: 10px 20px;
			border-radius: 5px;
			background-color: var(--background-color);
			display: flex;
			align-items: right;
			transition: all .3s ease-in-out;

			&:hover {
				color: var(--secondary-color);
			}

		}
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: var(--primary-color);
	font-family: 'Arial', sans-serif;

	.title {
		font-family: "Share Tech", sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		color: var(--primary-color)
	}
	.info {
		display:flex;
		background-color: #44585d;
		border-radius: 50px;
		flex-direction: column;
		align-items: center;
		padding: 1em;
		width: 75vw;
		h2 {
			font-family: "Share Tech", sans-serif;
			font-size: 40px;
			margin: 20px;
			order: 2;
		}
		img {
			width: 50%;
			border-radius: 50%;
			border: 5px solid #77c0a0;
			object-fit: cover;
			order:1;
		}
		p{
			order:3;
		}
	}
}

footer p {
	margin: 0;
}